.about__me-h2 {
  font-size: 2rem;
  color: var(--color-bg);
  margin-top: -3rem;
  margin-bottom: -3rem;
  font-style: italic;
}

.about__me-p {
  font-size: 1.5rem;
  color: var(--color-bg);
  margin-top: 1.5rem;
  margin-bottom: -1rem;
}

@media (max-width: 991px) {
  .about__me-h2 {
    font-size: 1.5rem;
  }
  .about__me-p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .about__me-h2 {
    font-size: 1rem;
  }
  .about__me-p {
    font-size: 0.8rem;
  }
}