.counter-areaa{
    position: relative; z-index: 1; 
    background-image: url(../images/AYXE0112.JPG);
    background-size: cover; color: #fff; 
}

.about__me span {
    margin-top: -5%;
    height: -5%;
    font-size: 1.5rem;
    color: #000;
}

.about__me p {
    margin: 2rem 0 0;
    font-size: 1.5rem;
    color: #000;
}

/* ======= media queries (Medium Devices) ==== */
@media screen and (max-width: 1024px) {
    .counter-areaa{
        height: 30vh;
        position: relative; z-index: 1;  
        background-size: cover; 
    }
    
    .about__me span {
        margin-top: -3%;
        height: -3%;
        font-size: 1rem;
        color: #000;
    }
    
    .about__me p {
        margin: 1rem 0 0;
        font-size: 1rem;
        color: #000;
    }
    
}

/* ======= media queries (Medium Devices) ==== */
@media screen and (max-width: 1100px) {

}

/* ======= media queries (Medium Devices) ==== */
@media screen and (max-width: 1000px) {
 
}

/* ======= media queries (Medium Devices) ==== */
@media screen and (max-width: 900px) {
 
}

/* ======= media queries (Medium Devices) ==== */
@media screen and (max-width: 800px) {

}

/* ======= media queries (Medium Devices) ==== */
@media screen and (max-width: 760px) {

}


/* ======= media queries (Medium Devices) ==== */
@media screen and (max-width: 600px) {

}

/* ======= media queries (Medium Devices) ==== */
@media screen and (max-width: 400px) {
    .counter-areaa{
        height: 40vh;
        position: relative; z-index: 1;  
        background-size: cover; 
    }
    
    .about__me span {
        margin-top: -3%;
        height: -3%;
        font-size: 1rem;
        color: #000;
    }
    
    .about__me p {
        margin: 1rem 0 0;
        font-size: 1rem;
        color: #000;
    }
}

/* ======= media queries (Medium Devices) ==== */
@media screen and (max-width: 500px) {
    .counter-areaa{
        height: 40vh;
        position: relative; z-index: 1;  
        background-size: cover; 
    }
    
    .about__me span {
        margin-top: -1%;
        height: -1%;
        font-size: 1rem;
        color: #000;
    }
    
    .about__me p {
        margin: 1rem 0 0;
        font-size: 1rem;
        color: #000;
    }
}

@media screen and (max-width: 350px) {
    .about__me span {
        margin-top: -10%;
        font-size: 1rem;
        color: #000;
    }
    
    .about__me p {
        font-size: 1rem;
        color: #000;
    }
}

@media screen and (max-width: 300px) {
    .about__me span {
        margin-top: -15%;
        font-size: 1rem;
        color: #000;
    }
    
    .about__me p {
        font-size: 1rem;
        color: #000;
    }
}