.w-details-areaa {
  position: relative;
  z-index: 1;
  background-image: url(../images/AYXE0112.JPG);
  background-size: cover;
}
.weading__me h4 {
  color: #000;
  font-size: 1.5rem;
}
.weading__me p {
  color: #000;
  font-size: 1.5rem;
}

.weading__me span {
  color: #000;
  font-size: 1.5rem;
}

/* ======= media queries (Medium Devices) ==== */
@media screen and (min-width: 1400px) {
  .w-details-areaa {
    background-position: right 45% top 15%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-size: cover;
  }
}

@media screen and (max-width: 1400px) {
  .w-details-areaa {
    background-position: right 45% top 15%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-size: cover;
  }
}

@media screen and (max-width: 1200px) {
  .w-details-areaa {
    background-position: right 45% top 15%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-size: cover;
  }
}

@media screen and (max-width: 992px) {
  .w-details-areaa {
    background-position: right 45% top 15%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .w-details-areaa {
    background-position: right 45% top 15%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-size: cover;
  }
}

@media screen and (max-width: 576px) {
  .w-details-areaa {
    background-position: right 45% top 15%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-size: cover;
  }
}
